NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_appwrite_project_id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=payplag_db
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users
NEXT_PUBLIC_APPWRITE_ORDERS_COLLECTION_ID=payment_orders
NEXT_PUBLIC_APPWRITE_TOKENS_COLLECTION_ID=check_tokens
NEXT_PUBLIC_APPWRITE_RESULTS_COLLECTION_ID=check_results
NEXT_PUBLIC_APPWRITE_BUCKET_ID=uploads

APPWRITE_API_KEY=your_appwrite_server_api_key

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

NEXT_PUBLIC_INTERNAL_API_URL=http://localhost:8000
INTERNAL_API_URL=http://localhost:8000

NEXT_PUBLIC_APP_URL=http://localhost:3000
